body {
  font-family: "futura-pt", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  background-color: #F9F9F9;
}

.light {
  color: #F9F9F9;
}

.dark {
  color: #242424;
}

.muted {
  color: #D8D8D8;
}

.link {
  font-weight: 800;
}

.top-20 {
  padding-top: 20px;
}

.right {
  text-align: right;
}

.container {
  max-width: 100%;
  padding: 0;
}

.logo {
  padding: 20px 50px 25px 20px;
  background-color: #F9F9F9;
  margin-top: -136px;
}

.main {
  background-color: #242424;
  margin-top: 200px;
  margin-bottom: 120px;
}

.free-text {
  font-style: italic;
  padding-bottom: 40px;
}

.headline {
  font-size: 48px;
  line-height: 40px;
  text-transform: uppercase;
  padding-top: 54px;
}

.incut {
  background-color: #D8D8D8;
}

.incut p {
  padding: 20px 0 30px 10px;
}

.no-gap {
  margin-left: 0;
}

.subtitle {
  font-size: 28px;
}

.floating {
  position: relative;
  top: 60px;
  margin-top: -40px;
}
