:root {
    --color-blue-bg: #dbf1ff;
    --color-blue: #33b5e1;
    --color-purple: #a363d5;
    --color-pink: #ffb0de;
    --color-gray: #869299;
    --color-white: #ffffff;
    --color-black: #000000;
    --size-lvl1: 2.6rem;
    --size-lvl2: 1.8rem;
    --size-lvl3: 1.6rem;
}

body {
    background-color: var(--color-white);
}

hr {
    border-image: linear-gradient(to right, var(--color-blue), var(--color-purple)) 1;
}

article {
    padding-top: 0;
}

article .subtitle {
    color: var(--color-gray);
    font-size: 1.4rem;
    margin-bottom: 0;
}

h1 {
    font-size: var(--size-lvl1);
}

h2 {
    font-size: var(--size-lvl2);
}

h3 {
    font-size: var(--size-lvl3);
}

.header {
    padding-top: 1rem;
}

.header .logo {
    width: 48px;
    height: 48px;
    vertical-align: bottom;
    margin-left: -7%;
    margin-bottom: -60px;
}

.header a.title {
    background: none;
    background-color: var(--color-blue-bg);
    font-size: var(--size-lvl1);
    color: var(--color-black);
    text-shadow: none;
}

.header > .subtitle {
    font-style: italic;
    font-size: var(--size-lvl2);
}

.header section {
    padding-bottom: 0;
    padding-top: 0;
}

.header .links {
    padding-top: 16px;
}

.header .links > .link {
    padding-right: 1em;
}

.header .links svg {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    color: var(--color-gray);
}

.header .links svg:hover path {
    fill: var(--color-black);
}

.header .links a {
    background: none;
    display: inline-block;
}

p.list {
    transition: padding-left .4s ease;
}

p.list:hover {
    padding-left: 12px;
    border-left: 1.5px solid var(--color-blue);
}

p.list .marginnote {
    color: var(--color-gray);
}

p.list span.desc {
    display: block;
    font-size: 1.2rem;
}

p.list span.date {
    display: none;
    font-size: 1.1rem;
    color: var(--color-gray);
}

body > footer {
    color: var(--color-gray);
}

.epigraph {
    border-left: 1.5px solid;
    border-image: linear-gradient(to bottom, var(--color-blue), var(--color-purple)) 1;
}

/* Code */

p > code {
    background-color: #fafafa;
    border: 1px solid #c8c8c8;
    padding: 3px;
}

pre > code {
    width: 80%;
}

pre.chroma {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

/* Tables */
section > table {
    font-size: 1.1rem;
}

thead tr {
    background-color: var(--color-blue-bg);
    font-size: 1.2rem;
}

/* Syntax */
code.language-sh .se {
    background-color: var(--color-white);
    color: var(--color-gray);
}

/* Mermaid */
.mermaid svg {
    width: 60%;
}

g.cluster rect {
    fill: var(--color-white) !important;
    stroke: var(--color-black) !important;
    stroke-width: 0.5px !important;
}

g.node rect {
    fill: var(--color-blue-bg) !important;
    stroke: var(--color-black) !important;
    stroke-width: 0.2px !important;
}

g.edgePaths path {
    stroke-width: 1px !important;
}

g.edgeLabel span.edgeLabel {
    background-color: var(--color-white) !important;
    font-size: 1.0rem;
    font-style: italic;
    line-height: 1.4rem;
}

@media (max-width: 760px) {
    .header .logo {
        margin-left: 256px;
    }

    p.list span.date {
        display: block;
    }

    .mermaid svg {
        width: 100%;
    }
}

@media screen and (min-width: 760px) and (max-width: 960px) {
    section > p,
    section > footer,
    section > table {
        width: 87.5%;
    }

    .marginnote.listnote {
        width: 20%;
        margin-right: -13.5%;
    }
    
    .sidenote,
    .marginnote:not(.listnote) {
        width: 70%;
        margin-right: -13.5%;
        margin-left: 10px;
        padding-left: 10px;
        padding-bottom: 3px;
        border-left: 1.5px solid;
        border-image: linear-gradient(to bottom, var(--color-pink), var(--color-purple)) 1;
    }

    blockquote p,
    blockquote footer {
        width: 87.5%;
    }

    figure {
        max-width: 87.5%;
    }

    section > dl,
    section > ol,
    section > ul {
        width: 82.5%;
    }

    .mermaid svg {
        width: 100%;
    }
}
