<head>
  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  {{ $desc := print .Description }}
  {{ if .IsHome }}{{ $desc = .Site.Params.subtitle }}{{ end }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Title }}">
  <meta name="description" content="{{ $desc }}.">
  <meta name="og:description" content="{{ $desc }}.">
  <meta name="og:image" content="{{ absURL .Site.Params.banner }}">
  <meta name="og:site_name" content="{{ .Site.Title }}">
  <meta name="og:title" content="{{ $title }}">
  <meta name="og:type" content="website">
  <meta name="og:url" content="{{ .Permalink }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="{{ $desc }}.">
  <meta name="twitter:image" content="{{ absURL .Site.Params.banner }}">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:url" content="{{ .Permalink }}">
  {{ if in .Params.features "math" }}
    <script>
    MathJax = {
      tex: {
        inlineMath: {'[+]': [['$','$']]}
      },
    };
    </script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js">
    </script>
  {{ end }}
  {{ if in .Params.features "diag" }}
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10.9.1/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
  {{ end }}
  <link rel="stylesheet" type="text/css" href="/css/tufte.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="canonical" href="{{ .Permalink }}">
  <title>{{ $title }}</title>
</head>
