{{ define "main" }}
<section>
  <hr>
  <h2>Posts</h2>
  {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
  {{ range .Site.RegularPages.ByPublishDate.Reverse }}
  <p class="list">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    <span class="marginnote listnote"><em>{{ .PublishDate.Format $dateFormat }}</em></span>
    <span class="desc"><em>{{ .Description }}</em></span>
    <span class="date"><em>{{ .PublishDate.Format $dateFormat }}</em></span>
  </p>
  {{ end }}
</section>
{{ end }}
